.App {
  text-align: center;
  background-color: aqua;

  width: 100%;
  height: 100%;
}

.container {
  background-image: url('../assets/images/bg.png');
  background-size: cover;
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.target {
  position: absolute;
  width: 7%;
  /* height: 50px; */
  top: 20%;
}
#target1 {
  left: 10%;
}

#target2 {
  left: 37.5%;
}

#target3 {
  left: 62.5%;
}

#target4 {
  left: 85%;
}

.hammer {
  position: absolute;
  top: 30%;
  width: 8%;
  height: 60%;
  background-image: url('../assets/images/stick.png');

  background-size: cover;

  animation: move-hammer 2s ease-in-out infinite alternate;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.hammerStrike {
  animation: strike-hammer 0.3s forwards;
}

@keyframes move-hammer {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1100%);
  }
}
@keyframes strike-hammer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.button {
  margin-top: 20px;
  margin-right: 1%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(0, 92, 11);
  color: white;
  border: none;
}

.score {
  /* font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15%; */
}
.buttonContainer {
  position: relative;
  z-index: 10;
}
