.App {
  text-align: center;
  background-color: aqua;

  width: 100%;
  height: 100%;
}

.container {
  background-image: url('../assets/images/game_1/bg_01.webp');
  background-size: cover;
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.target {
  position: absolute;
  width: 7%;
  /* height: 50px; */
  top: 20%;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
#target1 {
  left: 10%;
}

#target2 {
  left: 37.5%;
}

#target3 {
  left: 62.5%;
}

#target4 {
  left: 85%;
}

.hammer {
  position: absolute;
  top: 30%;
  width: 8%;
  height: 60%;
  background-image: url('../assets/images/game_1/stick.webp');

  background-size: cover;

  animation: move-hammer 2s ease-in-out infinite alternate;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.hammerStrike {
  animation: strike-hammer 0.3s forwards;
}

@keyframes move-hammer {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1100%);
  }
}
@keyframes strike-hammer {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.button {
  margin-top: 20px;
  margin-right: 1%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(0, 92, 11);
  color: white;
  border: none;
}

.buttonContainer {
  position: relative;
  z-index: 0;
}
.popup {
  display: inline;
}
.count {
  position: absolute;
  font-weight: bold;
  right: 5%;
  top: 50%;
  /* display: inline; */
}
.gameOver {
  background-color: brown;
  height: 25%;
  width: 100%;
  font-size: 150%;
  font-weight: bold;
  font-style: oblique;
  color: black;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .container {
    height: 60% !important;
  }
  .buttonContainer {
    display: flex;
    padding-left: 5%;

    align-items: start;
  }
  .target {
    width: 9%;
  }

  .hammer {
    width: 15%;
    height: 60%;
  }

  @keyframes move-hammer {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(600%);
    }
  }
}
