.container {
  background-image: url('../assets/images/game_2/k-bg-min.webp');
  background-size: cover;
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.player {
  width: 400px;
  position: absolute;
}
.playerLeft {
  margin-right: 10%;
}
.playerLeft {
  margin-left: 6%;
}
.gameWindow {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameBack {
  background-image: url('../assets/images/game_2/bg.webp');
  width: 800px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  position: absolute;
  margin-top: 40%;
  z-index: 5;
  user-select: none;
}

@media (max-width: 900px) {
  .player {
    width: 300px !important;
  }
  .gameBack {
    position: relative;
    top: 30%;
    width: 600px;
    height: 260px;
  }
}
@media (max-width: 600px) {
  .player {
    width: 200px !important;
  }
  .gameBack {
    width: 400px;
    height: 180px;
  }
}
@media (max-width: 500px) {
  .player {
    width: 150px !important;
  }
  .gameBack {
    width: 300px;
    height: 130px;
  }
}
@media (max-width: 300px) {
  .player {
    width: 100px !important;
  }
  .gameBack {
    width: 200px;
    height: 100px;
  }
}
