.button {
  margin-top: 20px;
  margin-right: 1%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(0, 92, 11);
  color: white;
  border: none;
}

.buttonContainer {
  position: relative;
  z-index: 10;
}
.popup {
  display: inline;
}
.count {
  position: fixed;
  font-weight: bold;
  right: 5%;
  top: 5%;
  background-color: rgb(252, 44, 44);
  border-radius: 30%;
  padding: 1%;
  /* display: inline; */
}

@media (max-width: 800px) {
  .buttonContainer {
    display: flex;
    padding-left: 5%;

    align-items: start;
  }
}
